/*------------------------------ Header Level-------------------------------*/

#bun-logo {
    width: 400px;
    padding: 40px;
}

.top-section {
    display: flex;
}

.top-right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /*Important to make the item stretch across the screen */
}

.tabs {
    display: flex;
    gap: 50px;
    justify-content: flex-end;
    border-bottom: 4px solid black;
    padding: 50px 100px;
}

.HEADER {
    font-size: 26px;
    color: black;
}

.menu {
    font-size: 36px;
    margin-top: 10%;
}

/*----------------- PRODUCT tab specific------------------*/

#PRODUCTS:link {
    text-decoration: none;
}

#PRODUCTS:visited {
    text-decoration: none;
    color: black;
}

#PRODUCTS:hover {
    text-decoration: none;
    background-color: yellow;
}

/*----------------- CART tab specific------------------*/
#CART:link {
    text-decoration: none;
    color: black;
}

#CART:visited {
    text-decoration: none;
    color: black;
}


#CART:hover {
    text-decoration: none;
    background-color: yellow;
}

/*------------------------------body centent-------------------------------*/
.content {
    display: flex;
    flex-direction: column;
    margin-left: 40%;
}

.Cart_content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 50px;
}

.product {
    display: flex;
    gap: 0 30px;
}

.IMAGE_block {
    width: 17%;
}

.text_block {
    width: 350px;
    font-size: 25px;
}

.price_block {
    font-size: 25px;
}

#Checkout_block {
    margin-right: 15%;
}

#Checkout {
    width: 150px;
    font-size: 20px;
    padding: 10px 20px;
    float: right;

}

.product_img {
    width: 100%;
    border: 3px solid black;
}

.REMOVE {
    font-size: 12px;
    text-decoration: underline;
    /*https://www.w3schools.com/cssref/pr_text_text-decoration.asp*/
    font-weight: bold;
}

#Checkout:hover {
    background-color: yellow;
}


.subtotalinCart {
    display: flex;
    gap: 0 30px;
    flex-direction: row;
    border-top: 4px solid black;
    padding: 20px 0 40px 0;
}

.SUBtotal {
    font-size: 25px;
}

#PRODUCTS:link {
    /* https://www.w3schools.com/css/css_link.asp  */
    text-decoration: none;
}

#PRODUCTS:visited {
    text-decoration: none;
}

#PRODUCTS:hover {
    text-decoration: none;
}

#PRODUCTS:hover {
    text-decoration: none;
}

.HEADER:hover {
    font-weight: bold;
}

input {
    font-weight: bold;
}