#bun-logo {
    height: 200px;     /*check px way*/
    width: 200px;
}

h1, h2, p {
    text-align: center;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

p {
    font-size: 24px;
}

.product {
    display: block;
    margin: auto;
}

.product_img{
    height: 200px; 
    width: 200px;
    border: 3px solid black;
}







