#bun-logo {
    height: 200px;     /*check px way*/
    width: 200px;
}

h1, h2 {
    text-align: center;
}

hr {                     /*https://stackoverflow.com/questions/4151743/how-can-i-change-the-thickness-of-my-hr-tag  */
    border: none;
    height: 3px;
    background-color: #333
}

#PRODUCTS:link {                    /* https://www.w3schools.com/css/css_link.asp  */
    text-decoration: none;
}
#PRODUCTS:visited {
    text-decoration: none;
}

#PRODUCTS:hover {
    text-decoration: none;
}

#PRODUCTS:hover {
    text-decoration: none;
}

#menu{
    text-align: center;
    font-size: 24px;
}

#PRODUCTS {
    display: block;
    margin: auto;
    width: 100px;    /* result of trial & error. why does this 100 px work?! */
    font-size: 20px;
    color: black;

}

h2 {
    font-size: 18px;
}

.product {
    display: block;
    margin: auto;
    width: 200px;     /*TA's help. But how does he know 200px??? */
    padding: 6px;
      /* text-align: center;  https://www.youtube.com/watch?v=JenSL-4cJvE */
}

.product_img{
    width: 100%;     /*TA's help: The image will adjust to fit within its parent element */
    border: 3px solid black;  
}


.product:hover{
    background-color: yellow;
    
}











