/*------------------------------ Header Level-------------------------------*/

#bun-logo {    
    width: 400px;
    padding: 40px;
}

.top-section{
    display:flex;
}

.top-right{
    display: flex;
    flex-direction: column;
    flex-grow: 1;                    /*Important to make the item stretch across the screen */
}

.tabs{
    display: flex;
    gap: 100px;
    justify-content: flex-end;
    border-bottom: 4px solid black;
    padding: 50px 100px;
}

.HEADER{
    font-size: 26px;
    color: black;
}

.menu{
    font-size: 36px;
    margin-top: 10%;
}

/*----------------- PRODUCT tab specific------------------*/

#PRODUCTS:link {                   
    text-decoration: none;
}
#PRODUCTS:visited {
    text-decoration: none;
    color:black;
}

#PRODUCTS:hover {
    text-decoration: none;
    background-color: yellow;
}

/*----------------- CART tab specific------------------*/
#CART:link {                    
    text-decoration: none;
    color:black;
}
#CART:visited {
    text-decoration: none;
    color:black;
}


#CART:hover {
    text-decoration: none;
    background-color: yellow;
}

/*------------------------------body centent-------------------------------*/
.content{
    display: flex;
    flex-direction: column;
} 

.product {
    display: flex;
    margin: auto;
    width: 250px;    
    gap: 30px;
    justify-content: space-between;
    
}



.IMAGE_block{
}

.text_block{
    flex: 2;
} 

.price_block{

}  



.product_img{
    width: 100%;   
    border: 3px solid black;  
}

.REMOVE {
    font-size: 10px;
    text-decoration: underline; /*https://www.w3schools.com/cssref/pr_text_text-decoration.asp*/
}

.SUBtotal {
    padding: 3px 0 25px;
    font-size: larger;
}

#subtotal_line {
    margin-left: 20%;
    margin-right: 20%;
    border: none;
    height: 3px;
    background-color: #333
    
}

#Total_block {
    margin: auto;
    width: 133px;
    text-align: center
}

#Total_amount {
    font-size: larger;
    padding: 12px;
}

#Checkout {
    border: 2px solid black;   /*  https://www.w3schools.com/howto/howto_css_outline_buttons.asp  */
    padding: 5px;
    font-weight: bold;    /*  https://www.w3schools.com/cssref/pr_font_weight.asp  */
}


#Checkout:hover{
    background-color: yellow;
}





#PRODUCTS:link {                    /* https://www.w3schools.com/css/css_link.asp  */
    text-decoration: none;
}
#PRODUCTS:visited {
    text-decoration: none;
}

#PRODUCTS:hover {
    text-decoration: none;
}

#PRODUCTS:hover {
    text-decoration: none;
}


