/*------------------------------ Header Level-------------------------------*/

#bun-logo {
    width: 400px;
    padding: 40px;
}

.top-section {
    display: flex;
}

.top-right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /*Important to make the item stretch across the screen */
}

.tabs {
    display: flex;
    gap: 100px;
    justify-content: flex-end;
    border-bottom: 4px solid black;
    padding: 50px 100px;
}

.HEADER {
    font-size: 26px;
    color: black;
}

.menu {
    font-size: 36px;
    margin-top: 10%;
}

/*----------------- PRODUCT tab specific------------------*/

#PRODUCTS:link {
    text-decoration: none;
}

#PRODUCTS:visited {
    text-decoration: none;
    color: black;
}

#PRODUCTS:hover {
    text-decoration: none;
    background-color: yellow;
}

/*----------------- CART tab specific------------------*/
#CART:link {
    text-decoration: none;
    color: black;
}

#CART:visited {
    text-decoration: none;
    color: black;
}


#CART:hover {
    text-decoration: none;
    background-color: yellow;
}

/*------------------------------body centent-------------------------------*/

.content {
    margin: 10%;
}

.container {
    display: flex;
    justify-content: space-around;
    gap: 80px;
}

.product {
    width: 1500px;
    /* is there a better way than using px? */
}

.product_img {
    width: 600px;
    /* is there a better way than using px? */
    border: 3px solid black;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 18%;
    font-size: 30px;
}

#cust {
    width: 350px;
    /* is there a better way than using px? */
}

.Dropdown {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.options {
    display: block;
    width: 180px;
}

select {
    font-size: 24px;
}

/* .optionSelection {                 dropdown menu font size?
    font-size: 30px;
} */

#glazing {
    width: 360px;
}

#size {
    width: 360px;
}

#subtotal {
    width: 180px;
    font-weight: 200px;
}

.AddtoCart_box {
    text-align: right;
}

#AddtoCart {
    width: 200px;
    font-size: 28px;
}



#AddtoCart:hover {
    background-color: yellow;
    font-weight: bold;
}


#PRODUCTS:link {
    /* https://www.w3schools.com/css/css_link.asp  */
    text-decoration: none;
}

#PRODUCTS:visited {
    text-decoration: none;
}

#PRODUCTS:hover {
    text-decoration: none;
}

#PRODUCTS:hover {
    text-decoration: none;
}

.HEADER:hover {
    font-weight: bold;
}

/* @media (min-width: 412px); */