/*------------------------------ Header Level-------------------------------*/
#bun-logo {    
    width: 400px;
}

.top-section{
    display:flex;
    padding: 20px;
}

.top-right{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    
}

.tabs{
    display: flex;
    gap: 100px;
    justify-content: flex-end;
    padding: 30px;
    margin-right: 50px;
}

.HEADER{
    font-size: 26px;
    color: black;
 
    
}

.menu{
    font-size: 36px;
    padding: 20px;
}


/*
hr {                     https://stackoverflow.com/questions/4151743/how-can-i-change-the-thickness-of-my-hr-tag  
    display: flex;
    border: none;
    height: 3px;
    background-color: #333;
    align-content: right;
    width: 80%;
    padding: 0;

}
*/



/*----------------- PRODUCT tab specific------------------*/

#PRODUCTS:link {                    /* https://www.w3schools.com/css/css_link.asp  */
    text-decoration: none;
}
#PRODUCTS:visited {
    text-decoration: none;
    color:black;
}

#PRODUCTS:hover {
    text-decoration: none;
    background-color: yellow;
}

/*----------------- CART tab specific------------------*/
#CART:link {                    
    text-decoration: none;
    color:black;
}
#CART:visited {
    text-decoration: none;
    color:black;
}


#CART:hover {
    text-decoration: none;
    background-color: yellow;
}

/*------------------------------body centent-------------------------------*/
.Content{
    display: flex;
    flex-wrap: wrap;
    margin: 70px;
    gap:100px;
}


.product-name{
    text-decoration: underline;
    font-size: 30px;
}


.price{
    font-size:26px;
}



.product {
    display: flex;
    margin: auto;
    margin-bottom: 10px;
    width: 350px;     /*TA's help. But how does he know 200px??? */
    border: solid white 5px;
    padding: 0;
      /* text-align: center;  https://www.youtube.com/watch?v=JenSL-4cJvE */
}

.product:hover{
    background-color: yellow;
    border: solid yellow 5px;
}

.product_img{
    width: 100%;     /*TA's help: The image will adjust to fit within its parent element */
    border: 3px solid black;  
    box-sizing: border-box;
}




.GoToDetail:link {
    text-decoration: none;
    color:black;
}

.GoToDetail:visited {
    text-decoration: none;
    color:black;
}

.GoToDetail:hover {
    text-decoration: none;
    color:black;
}

.GoToDetail:active {
    text-decoration: none;
    color:black;
}

.GoToDetail {
    border: none;
}



